<mat-card>
    <div class="alert alert-info">
        <strong>Angular Material DataTable With Sorting</strong>
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-table #Table [dataSource]="MyDataSource" matSort>

            <!-- For ID -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let post"> {{post.id}} </mat-cell>
            </ng-container>

            <!-- For Post ID -->
            <ng-container matColumnDef="userId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> User ID </mat-header-cell>
                <mat-cell *matCellDef="let post"> {{post.userId}} </mat-cell>
            </ng-container>

            <!-- For Name -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                <mat-cell *matCellDef="let post"> {{post.title}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <!-- To paginate between pages with search -->
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>
    </div>
</mat-card>